.catalogPage {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  justify-items: center;
}

.catalogPage__item {
  display: block;
  width: fit-content;
}
