.productWrapper {
  width: 48%;
  background-color: beige;
  border-radius: 2.5%;
  box-shadow: 0px 2px 5px rgb(116, 116, 116);
}

.productImg {
  height: 120px;
  background-color: lightgray;
}

.productDescription {
  display: gap;
  color: black;
}

.productCat {
  font-size: 14px;
  color: gray;
}

.productPrice {
  font-size: 14px;
  font-weight: 600;
  margin: auto;
  color: rgb(13 19 111);
}
