.header {
  position: relative;
  z-index: 10;
  padding: 26px 120px;
  background-color: transparent;
  font-family: "Jost";
  font-size: 14px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}

.header__nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}