@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0px;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a, link {
  text-decoration: none;
  font-family: 'Jost', sans-serif;
}