.homePage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.banner {
  height: 600px;
  width: 100%;
  background-image: url(../../assets/img/background_home_page.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

.banner__text_title {
  font-family: 'Jost';
  width: 645px;
  font-size: 55px;
  padding-top: 198px;
  text-align: center;
  display: block;
  margin: auto;
}

.banner__text {
  text-align: center;
}

button {
  display: block;
  margin: auto;
  //margin-right: auto;
}
